<!DOCTYPE html>
<html>
<head>
</head>
<body>

<h2 class="page-header">Dashboard</h2>
<p>Willkommen im Studentenportal der Beuth Hochschule für Technik Berlin</p>  
<p>Du bist eingeloggt!</p>
<div class="jumbotron">

<p><a href="/users/bewertung">Bewerte Module</a></p>
<p><a href="/users/fileupload">Lade Dokumente hoch</a></p>
<p><a href="#">Zum Forum</a></p>
<p><a href="/users/events">Events</a></p>
<p><a href="#">Mensapläne</a></p>

</div>

</body>

</html>