<!DOCTYPE html>
<html>
<head>
</head>
<body>

<h2 class="page-header">Dashboard</h2>
<p>Willkommen im Studentenportal der Beuth Hochschule für Technik Berlin</p>  
<p>Du bist eingeloggt!</p>
<div class="jumbotron">
<table>
<tr>
<td class="box"><a href="/users/dozenten">Bewerte Dozenten</a></td>
<td class="box"><a href="/users/module">Bewerte Module</a></td>
<td class="box"><a href="/users/uploads">Lade Dokumente hoch</a></td>
</tr>
</table>
</div>

</body>

</html>