<!DOCTYPE html>
<html>
<body>

    <p><h2>Wähle deinen Upload aus!</h2></p>

    <form action="/users/upload" method="post" enctype="multipart/form-data">

    <label class="btn btn-primary">Browse ... <input type="file" name="image" id="image" style="display: none;"></label>
    <p></p>
    <input type="submit" value="Upload" class="btn btn-success">

    </form>
    <br/>
    
    <span id=message></span>

    <br/>
    
    <br/>

    <div id="download">

      <table>
        <thead>
          <th>Dateiname </th>
          <th>Download </th>
        </thead>
        <tbody>
          <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
          <script src="/js/global.js">   </script>
        </tbody>
      </table>

    </div>

</body>
</html>
