<!DOCTYPE html>
<html lang="en">

<head> 

 <style>
        /*

        UPLOAD - POUP Fenster
        
        */

        /* The Modal (background) */
        .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            padding-top: 100px; /* Location of the box */
            padding-right: 10px;
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        }

        /* Modal Content */
        .modal-content {
            background-color: #fefefe;
            margin: auto;
            padding: 20px;
            border: 1px solid #888;
            width: 400px;
        }

        /* The Close Button */
        .close {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
        
        input[type="file"] {
            display: none;
        }

    </style>
	
	</head>
<body>

                    <!-- The Modal -->
                    <div id="myModal" class="modal">

                      <!-- Modal content -->
                      <div class="modal-content">

                        <span class="close">&times;</span>

                        <p><h2>Wähle dein Upload aus!</h2></p>
                        
                        <form action="fileupload" method="post" enctype="multipart/form-data">

                        <p><label class="btn btn-primary">Browse ...<input type="file" name="filetoupload" style="display: none;"></label></p>

                        <input type="submit" class="btn btn-success">

                        </form>
						
                      </div>

                    </div>

</body>

</html>