<!DOCTYPE html>
<html ng-app>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js">

angular.module('myApp', []).config(function($interpolateProvider){
    $interpolateProvider.startSymbol('[[[').endSymbol(']]]');
});

angular.module('mainApplication', ['mainCtrl,', 'fileModel', 'uploadFileService'])

angular.module('fileModelDirective', [])

.directive('fileModel', ['$parse', function($parse) {
    return {
        restrict: 'A',
        link: function(scope, element, attrs) {
            var parsedFile = $parse(attrs.fileModel);
            var parsedFileSetter = parsedFile.assign;

            element.bind('change', function() {
                scope.$apply(function() {
                    parsedFileSetter(scope, element[0].files[0]);
                });
            });
        }
    };
}]);

angular.module('uploadFileService', [])

.service('uploadFile', function($http) {
	this.upload = function(file){
		var fd = new FormData();
		fd.append('myfile', file.upload);
		return $http.post('/upload', fd, {
			transformRequest: angular.identity,
			headers: { 'Content-Type': undefined }
		});
		
	};
	
});

.controller('mainCtrl', function($scope, uploadFile) {
	$scope.file = {};
	$scope.Submit = function(){
		$scope.uploading = true;
		uploadFile.upload($scope.file).then(function(data){
			if(data.data.success){
				$scope.uploading = false;
				$scope.alert = 'alert alert-success';
				$scope.message = data.data.message;
				$scope.file = {};
			} else{
				$scope.uploading = false;
				$scope.alert = 'alert alert-danger';
				$scope.message = data.data.message;
				$scope.file = {};
			}
		});
	}
});


</script>
</head>
<body>

<h2 class="page-header">Dokumente hochladen</h2>
<p>Lade Dokumente hoch</p>  



<div ng-show="uploading" class="progress">
  <div class="progress-bar progress-bar-striped active" role="progressbar"
  aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:100%">

  </div>
</div>

<form ng-submit="Submit();">
<label class="btn btn-success">
Datei suchen
<input type="file" filemodel="file.upload" name="myfile" ng-disabled="uploading" style="display: none;">
</label>
<br />
<br />
<br />

<button class="btn btn-primary" ng-disabled="uploading">Hochladen</button>
</form>
<br />

<!--img ng-src="[[[thumbnail.dataUrl]]]"-->
<br />
<br />
<div ng-show="message">
	<div ng-class="alert"> [[[ message ]]] </div>
</div>


</body>
</html>