<!DOCTYPE html>
<html>
<head>
</head>
<body>

<h2 class="page-header">Startseite</h2>

<div class="jumbotron">
	<p>Willkommen im Beuth-Portal für Studenten. </p>
	<p><a href="register">Registriere dich</a> zuerst mit deiner Beuth-E-Mail-Adresse 
	und <a href="login">logge dich ein </a>, um Module und Dozenten zu bewerten,
	oder um Dokumente für andere Studenten hochzuladen.</p>
</div>


</body>
</html>